* {
    margin: 0;
    padding: 10px;
    color: green;
}

h1 {

    margin: 10;
    padding: 10;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: blue;

}

p {
    font-size: 12px;
    color: purple;
}


input[type="nome"] {

    width: 300px;
    background-color: rgb(127, 205, 241);
}

input[type="email"] {

    width: 300px;
    background-color: rgb(127, 205, 241);
}